/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29/01/2025, 9:02:58 p. m.
    Author     : Angel
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.navi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80px;  /* Ajusta la altura según necesites */
    width: 100%;
}

.navi img{
    width: 400px;
    height: 150px;
}

.navi img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.navi ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.navi ul li.right {
    margin-left: auto;
    margin-right: 80px;
}

.navi ul li a {
    color: white;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
}

.formventa{
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.ventan{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 200px;
}

.btnventa{
   width: 200px;
   height: 200px;
   overflow: hidden; 
   border-radius: 50px;
   color: #090909;
   font-size: 18px;
   border-radius: 0.5em;
   background: #e8e8e8;
   cursor: pointer;
   border: 1px solid #e8e8e8;
   transition: all 0.3s;
   box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
             
}
.btnventa:active{
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btnventa img{
    object-fit: cover;
    width: 190px;
    height: 190px;
}

.textotbtn{
    text-align: center; /* Centra el texto dentro de este div */
    display: flex;
    justify-content: center;
    justify-content: space-around;
}



.empleado{
    background-image: url("../img/fondoemp.png");
    background-size: cover;
}

.formularioemp{
    
    background: transparent; /* Fondo blanco con 50% de transparencia */
    border-radius: 8px; /* Bordes redondeados */
    color: black;
}

.container,
.row,
.col-sm-4,
.card {
    background: transparent; /* Fondo transparente */
    color: #090909;
    
}

.card-body{
     background: rgba(255, 255, 255, 0.3);
     border:2px solid #090909;
     backdrop-filter: blur(5px);
     color: #090909;
}

.btn {
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.btn-primary {
    background-color: #090909; 
    border: none; 
    color: white; 
}

.btn-primary:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

.btn-success {
    background-color: #4c4c4c; 
    border: none;
    color: white;
}

.btn-success:hover {
    background-color: #218838; 
    transform: scale(1.05); 
}

.table{
    color: black;
}

/*CLIENTES*/

.cliente{
    background-image: url("../img/fondocli.png");
    background-size: cover;
}

.mt-4{
    padding-top: 80px;
    padding-bottom:  50px;
}

.vender{
    background-image: url("../img/fondoven.png");
    background-size: cover;
}

.productosee{
    background-image: url("../img/fondopro.png");
    background-size: cover;
}